@mixin mobile{
    @media (max-width: 767px) {
        @content;
    }
}
@mixin tablet{
    @media (min-width: 1279px) {
        @content;
    }
}
@mixin dsektop{
    @media (min-width: 1280px) {
        @content;
    }
}



    
@mixin header_mobile{
    font-size: 1.5rem;
    line-height: 2rem;
    
    
}

@mixin subheader_mobile{
    font-size: 0.875rem;
    line-height: 1.375rem;
    

}
 @mixin body-copy_mobile{
    font-size: 0.813rem;
    font-weight: 400;

 }
 @mixin logo{
    width: 20px;
    height: 120px;
 }
@mixin footer-body{
    font-size: 14px;
    line-height: 20px;

}
@mixin divider{
    stroke-width: 1px;
    color: #e1e1e1
}

/**/
@mixin header_tablet {
    font-size: 36px;
    line-height: 44px;
    font-weight: 700;
  }
  
  @mixin subheader_tablet {
    font-size: 24px;
    line-height: 32px;
    font-weight: 600;
  }
  @mixin body-copy_tablet {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
  }
  
  @mixin footer-body-tablet {
    font-size: 14px;
    line-height: 20px;
  }
  
  @mixin divider {
    stroke-width: 1px;
    color: #e1e1e1;
  }