$font-family: "Avenir LT Pro", sans-serif;
$back-color: #323232;
$foto-back-color: #e1e1e1;
$text-color: #ffffff;
$headline-after-mobile: 16px;
$headline-before-mobile: 24px;
$section-header-font-size: 24px;
$raduis: 14px;

$back-txt-color: #fafafa;
$silver: #afafaf;

 
  


