@use "./partials/global" as *;
@use "./partials/variables" as *;
@use "./partials/mixins" as *;

.about{
    padding-left: 1rem;
    padding-right: 1rem;
   @include tablet{
    @include size-between-tablet;
   }
   @include desktop{
    @include size-between-desktop;
   }
    

    &__heading{
        margin-top: 2rem;
        padding-bottom: 1rem;
    }
    &__container{
        @include subheader_mobile;
        &--img{

            width: 100%;
        }
        &--paragraph{
            @include subheader_mobile;
            font-weight: 700;
            padding-top: 1rem;
        }
        &-titele{
            padding-top: 1.5rem;
            font-weight: 600;
        }
        &--articale{
            padding-top: 1rem;
            font-weight: 400;
        }
       
    }

}
@include tablet{
    .about__box{
        margin-left: 2.25rem;
        margin-right: 2.25rem;
    }
    .container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
}
@include desktop{
    .about__box{
        margin:auto;
        width: 63vw;
        height: 100%;
    }
}

.container--img img{
    padding: 0.5rem;
    width: 100%;
}


.gallery {
    padding: 0 1rem;
    background-color: $foto-back-color;
    @include tablet{
        @include size-between-tablet;
       }
       @include desktop{
        @include size-between-desktop;
       }
   

    &-heading{
        padding: 2rem 0 0 1.5rem;
    }
  
    &-heading {
      @include header_mobile;
      margin-top: 2rem;
      margin-bottom: 1rem;
    }
  
    @include tablet {
      &__container--item {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        padding-bottom: 1rem;  
        padding-right: 1rem;
        padding-left: 1rem;
      }
    }
  }
