@use "./partials/global" as *;
@use "./partials/variables" as *;
@use "./partials/mixins" as *;

.about{
    padding-left: 1rem;
    padding-right: 1rem;

    &__heading{
        margin-top: 2rem;
        padding-bottom: 1rem;
    }
    &__container{
        @include subheader_mobile;
        &--img{
            width: 100%;
        }
        &--paragraph{
            @include subheader_mobile;
            font-weight: 700;
            padding-top: 1rem;
        }
        &-titele{
            padding-top: 1.5rem;
            font-weight: 600;
        }
        &--articale{
            padding-top: 1rem;
            font-weight: 400;
        }
       
    }

}

.gallery{
    background-color: $foto-back-color;
    margin-top: 2rem;
  

    &-heading{
        padding-top: 1rem;
        padding-left: 1rem;
        
    }
    &__container{
        padding-top: 1rem;
        &--img{
          width: 100%;
          display: flex;
          flex-direction: column;
          padding: 1rem;
    }
   


}


}