@font-face {
  font-family: "avenir next";
  src: url("../../assets/Font/AvenirNextLTPro-Regular.otf") format("opentype"), url("../../assets/Font/Alternative files/avenirNextLTProRegular.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "avenir next";
  src: url("../../assets/Font/AvenirNextLTPro-Demi.otf") format("opentype"), url("../../assets/Font/Alternative files/avenirNextLTProDemi.ttf") format("truetype");
  font-weight: 600;
}
@font-face {
  font-family: "avenir next";
  src: url("../../assets/Font/AvenirNextLTPro-Bold.otf") format("opentype"), url("../../assets/Font/Alternative files/avenirNextLTProBold.ttf") format("truetype");
  font-weight: 700;
}
/**/
* {
  box-sizing: border-box;
  margin: 0;
  text-decoration: none;
  font-family: "avenir next";
}

body {
  font-family: "Avenir LT Pro", sans-serif;
}

.header {
  background-color: #323232;
  color: #ffffff;
  width: 100%;
  height: 40%;
  padding-top: 24px;
  padding-bottom: 16px;
  text-align: center;
}
@media (min-width: 768px) {
  .header {
    padding-left: 2rem;
  }
}
@media (min-width: 1279px) {
  .header {
    padding-left: 8rem;
  }
}
.header__logo {
  width: 1.25rem;
  height: 7.5rem;
}
@media (min-width: 768px) {
  .header__logo {
    width: 2.25rem;
    height: 8.5rem;
  }
}
@media (min-width: 1279px) {
  .header__logo {
    width: 2.25rem;
    height: 8.5rem;
  }
}
.header .navbar__list {
  display: flex;
  flex-direction: row;
  width: 100%;
  text-align: center;
  list-style: none;
  padding: 0;
  padding-top: 1rem;
}
.header .navbar__list--item {
  width: 50%;
  font-weight: 400;
}
.header .navbar__list--item a {
  color: #e1e1e1;
}
.header .navbar__list--item-underline {
  border-bottom: 4px solid #ffffff;
  font-weight: 600;
  padding-left: 0;
  margin-bottom: -1rem;
}
@media (min-width: 768px) {
  .header {
    display: flex;
    flex-direction: row;
  }
  .header .header__Logo {
    padding: 0 1rem;
  }
  .header .navbar__list {
    padding-top: 0;
  }
  .header .navbar__list--item {
    margin-left: 2rem;
  }
  .header .navbar__list--item-underline {
    margin-bottom: -1.375rem;
  }
}

.footer {
  background-color: #323232;
  color: #ffffff;
  padding-top: 2rem;
  font-family: "Avenir LT Pro", sans-serif;
}
.footer--heading {
  font-weight: 400;
  font-size: 24px;
  padding: 2rem 0 2rem 1rem;
}
@media (min-width: 768px) {
  .footer--heading {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}
@media (min-width: 1279px) {
  .footer--heading {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}
.footer__container {
  margin-left: 1rem;
  font-size: 0.813rem;
  line-height: 1.125rem;
}
@media (min-width: 768px) {
  .footer__container {
    margin-left: 2.25rem;
    margin-right: 2.25rem;
    font-size: 0.875rem;
    line-height: 1, 25rem;
  }
}
@media (min-width: 1279px) {
  .footer__container {
    margin-left: 2.25rem;
    margin-right: 2.25rem;
    font-size: 0.875rem;
    line-height: 1, 25rem;
  }
}
.footer__container--icon {
  display: inline;
  margin: 1rem;
}
.footer__container--contact {
  margin: 1rem;
}
.footer__container--name {
  font-weight: 600;
}
.footer__container--rule {
  font-weight: 600;
  margin-bottom: 1rem;
}
.footer__container--email {
  margin-top: 1rem;
}
.footer__logo {
  margin: 5rem 0 1rem 1rem;
}
.footer__copy {
  margin: 1rem;
  padding-bottom: 1rem;
}

@media (min-width: 768px) {
  .footer__container--box {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
  }
  .footer__logo {
    position: relative;
    bottom: 19rem;
    left: 38rem;
    display: inline-block;
  }
  .footer__copy {
    position: relative;
    bottom: 4rem;
  }
}
@media (min-width: 1279px) {
  .footer__logo {
    position: relative;
    bottom: 19rem;
    left: 60rem;
  }
}
.hero {
  background-image: url(../assets/Images/hero-bio.jpg);
  background-size: cover;
  background-position: center;
  height: 60vh;
  width: 100%;
}
.hero__heading {
  background-color: rgba(0, 0, 0, 0.5);
  font-weight: 600;
  color: #ffffff;
  line-height: 60vh;
  padding-left: 2rem;
  font-size: 4rem;
}
@media (min-width: 768px) {
  .hero__heading {
    font-size: 4rem;
  }
}
@media (min-width: 1279px) {
  .hero__heading {
    font-size: 4rem;
  }
}

.about {
  padding-left: 1rem;
  padding-right: 1rem;
  color: #323232;
}
@media (min-width: 768px) {
  .about {
    margin-right: 2.25rem;
    margin-left: 2.25rem;
  }
}
@media (min-width: 1279px) {
  .about {
    margin-right: auto;
    margin-left: auto;
  }
}
.about__heading {
  margin-top: 2rem;
  padding-bottom: 1rem;
  font-size: 2.5rem;
}
@media (min-width: 768px) {
  .about__heading {
    font-size: 2.25rem;
    line-height: 2.75rem;
  }
}
@media (min-width: 1279px) {
  .about__heading {
    font-size: 2.25rem;
    line-height: 2.75rem;
  }
}
.about__container {
  font-size: 0.875rem;
  line-height: 1.375rem;
}
@media (min-width: 768px) {
  .about__container {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}
@media (min-width: 1279px) {
  .about__container {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}
.about__container--img {
  width: 100%;
}
.about__container--paragraph {
  font-weight: 700;
  padding-top: 1rem;
  font-size: 0.875rem;
  line-height: 1.375rem;
}
@media (min-width: 768px) {
  .about__container--paragraph {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}
@media (min-width: 1279px) {
  .about__container--paragraph {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}
.about__container--paragraph-sub {
  font-size: 0.813rem;
  line-height: 1.125rem;
}
@media (min-width: 768px) {
  .about__container--paragraph-sub {
    font-size: 0.875;
    line-height: 1.25rem;
    font-weight: 400;
  }
}
@media (min-width: 768px) {
  .about__container--paragraph-sub {
    font-size: 0.875;
    line-height: 1.25rem;
    font-weight: 400;
  }
}
.about__container-titele {
  padding-top: 1.5rem;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.375rem;
}
@media (min-width: 768px) {
  .about__container-titele {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}
@media (min-width: 1279px) {
  .about__container-titele {
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}
.about__container--articale {
  padding-top: 1rem;
  font-weight: 400;
  font-size: 0.813rem;
  line-height: 1.125rem;
}
@media (min-width: 768px) {
  .about__container--articale {
    font-size: 0.875;
    line-height: 1.25rem;
    font-weight: 400;
  }
}
@media (min-width: 1279px) {
  .about__container--articale {
    font-size: 0.875;
    line-height: 1.25rem;
    font-weight: 400;
  }
}

@media (min-width: 768px) {
  .about__box {
    margin-left: auto;
    margin-right: auto;
    width: 60vw;
  }
  .container {
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }
}
@media (min-width: 1279px) {
  .about__box {
    margin: auto;
    width: 63vw;
    height: 100%;
  }
}
.container--img img {
  padding: 0.5rem;
  width: 100%;
}

.gallery {
  padding: 0 1rem;
  background-color: #fafafa;
  color: #323232;
}
@media (min-width: 768px) {
  .gallery {
    margin-right: 2.25rem;
    margin-left: 2.25rem;
  }
}
@media (min-width: 1279px) {
  .gallery {
    margin-right: auto;
    margin-left: auto;
  }
}
.gallery-heading {
  padding: 2rem 1.5rem;
  font-size: 2.5rem;
}
@media (min-width: 768px) {
  .gallery-heading {
    font-size: 2.25rem;
    line-height: 2.75rem;
    margin-left: 2rem;
  }
}
@media (min-width: 1279px) {
  .gallery-heading {
    font-size: 2.25rem;
    line-height: 2.75rem;
    margin-left: 2rem;
  }
}
.gallery-heading {
  font-size: 2.5rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
}
@media (min-width: 768px) {
  .gallery__container--item {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.625rem;
    padding: 0 1.625rem;
  }
  .gallery .container--img {
    width: 30%;
  }
}

.container--img {
  width: 100%;
}

.form {
  cursor: pointer;
  padding-left: 1rem;
  padding-right: 1rem;
}
@media (min-width: 768px) {
  .form__container--box {
    width: 63vw;
    margin-right: auto;
    margin-left: auto;
  }
}
@media (min-width: 1279px) {
  .form__container--box {
    width: 63vw;
    margin-right: auto;
    margin-left: auto;
  }
}
.form--heading {
  padding: 2rem 1.5rem;
  font-size: 1.8rem;
  font-family: "avenir next";
  font-weight: 400;
}
@media (min-width: 768px) {
  .form--heading {
    font-size: 1.5rem;
    margin-left: 4rem;
    font-weight: 400;
  }
}
@media (min-width: 1279px) {
  .form--heading {
    font-size: 1.5rem;
    margin-left: 4rem;
    font-weight: 400;
  }
}

.container__comment .label {
  padding-left: 3.2rem;
  color: #afafaf;
}
@media (min-width: 768px) {
  .container__comment .label {
    padding-left: 3.9rem;
    color: #afafaf;
  }
}
@media (min-width: 1279px) {
  .container__comment .label {
    padding-left: 3.9rem;
    color: #afafaf;
  }
}
.container__comment--name {
  display: flex;
  flex-direction: row;
  padding-top: 0.5rem;
  padding-bottom: 1rem;
}
.container__comment--name .img {
  border-radius: 50%;
  width: 2.25rem;
  height: 2.25rem;
}
@media (min-width: 768px) {
  .container__comment--name .img {
    border-radius: 50%;
    width: 2.875rem;
    height: 2.875rem;
  }
}
.container__comment--name .name-box {
  width: 100%;
  margin-left: 1rem;
  border-radius: 0.25rem;
  height: 2.25rem;
  font-family: "Avenir LT Pro", sans-serif;
  padding-left: 1.25rem;
}
.container__comment--msg {
  display: flex;
  flex-direction: row;
  padding-top: 0.5rem;
  padding-bottom: 1rem;
  margin-left: 1rem;
}
.container__comment--msg .img {
  border-radius: 50%;
  width: 2.25rem;
  height: 2.25rem;
}
@media (min-width: 768px) {
  .container__comment--msg .img {
    width: 2.875rem;
    height: 2.875rem;
  }
}
.container__comment--msg .msg-box {
  margin-left: 0.25rem;
  border-radius: 0.25rem;
  height: 7.5rem;
  padding-top: 1.25rem;
  padding-left: 1.25rem;
  font-family: "Avenir LT Pro", sans-serif;
  width: 100%;
}
.container__comment--btn {
  margin-left: 1rem;
  display: flex;
  flex-direction: row;
}
.container__comment--btn .img_blk {
  border-radius: 50%;
  width: 2.25rem;
  height: 2.25rem;
  border: white;
}
@media (min-width: 768px) {
  .container__comment--btn .img_blk {
    width: 50%;
    margin-left: 17rem;
  }
}
.container__comment--btn button {
  cursor: pointer;
  background-color: #323232;
  color: #ffffff;
  border-radius: 0.25rem;
  height: 2.875rem;
  font-family: "Avenir LT Pro", sans-serif;
  margin-bottom: 1rem;
  width: 100%;
}

.feedback {
  padding-left: 1rem;
  padding-right: 1rem;
}
@media (min-width: 768px) {
  .feedback {
    width: 63vw;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 1279px) {
  .feedback {
    width: 63vw;
    margin-left: auto;
    margin-right: auto;
  }
}
.feedback__container {
  display: flex;
  flex-direction: row;
  border-top: 0.125rem solid #e1e1e1;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.feedback__container--img {
  border-radius: 50%;
  width: 2.25rem;
  height: 2.25rem;
  background-color: #e1e1e1;
}
@media (min-width: 768px) {
  .feedback__container--img {
    width: 2.875rem;
    height: 2.875rem;
  }
}
@media (min-width: 1279px) {
  .feedback__container--img {
    width: 2.875rem;
    height: 2.875rem;
  }
}
.feedback__container--header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: flex-start;
  flex-wrap: nowrap;
  padding-left: 1rem;
}
.feedback__container--header .feedback__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 1rem;
}
.feedback__container--header .feedback__header--name {
  font-weight: 600;
}
.feedback__container--header .feedback__header--date {
  color: #afafaf;
}
.feedback__container--header .feedback__text {
  font-weight: 300;
}/*# sourceMappingURL=bio.css.map */