@import url("https://fonts.cdnfonts.com/css/avenir-lt-pro");
/**/
/*
@font-face {
  font-family: "Avenir LT Pro";
  font-weight: normal;
  font-style: normal;
  src: url(../../assets/Font/AvenirNextLTPro-Regular.otf) format("opentype");
}

@font-face {
  font-family: "Avenir LT Pro";
  font-weight: bold;
  font-style: normal;
  src: url(../../assets/Font/AvenirNextLTPro-Bold.otf) format("opentype");
}
*/
* {
  box-sizing: border-box;
  margin: 0;
  text-decoration: none;
}

body {
  font-family: "Avenir LT Pro", sans-serif;
}

.header {
  background-color: #323232;
  color: #ffffff;
  width: 100%;
  height: 40%;
  padding-top: 24px;
  padding-bottom: 16px;
  text-align: center;
}
.header__logo {
  width: 20px;
  height: 120px;
}
.header .navbar__list {
  display: flex;
  flex-direction: row;
  width: 100%;
  text-align: center;
  list-style: none;
  padding: 0;
  padding-top: 1rem;
}
.header .navbar__list--item {
  width: 50%;
  font-weight: 400;
}
.header .navbar__list--item-underline {
  border-bottom: 4px solid #ffffff;
  font-weight: 600;
  padding-left: 0;
  margin-bottom: -16px;
}
@media (min-width: 768px) {
  .header {
    display: flex;
    flex-direction: row;
  }
  .header .header__Logo {
    padding: 0 16px;
  }
  .header .navbar__list {
    padding-top: 0;
  }
  .header .navbar__list--item {
    margin-left: 32px;
  }
  .header .navbar__list--item-underline {
    margin-bottom: -22px;
  }
}

.hero {
  background-image: url(../assets/Images/hero-bio.jpg);
  background-size: cover;
  background-position: center;
  height: 44vh;
  width: 100%;
}
.hero__heading {
  font-weight: bold;
  color: #ffffff;
  line-height: 44vh;
  padding-left: 1rem;
  padding-right: 1rem;
}

.footer {
  background-color: #323232;
  color: #ffffff;
  padding-top: 2rem;
  font-family: "Avenir LT Pro", sans-serif;
  font-size: 14px;
  line-height: 20px;
}
.footer--heading {
  font-weight: 700;
  font-size: 24px;
  padding: 2rem 0 2rem 1rem;
}
.footer__container {
  font-size: 0.875rem;
  line-height: 1.375rem;
}
.footer__container--icon {
  display: inline;
  margin: 1rem;
}
.footer__container--contact {
  margin: 1rem;
}
.footer__container--name {
  font-weight: 600;
}
.footer__container--rule {
  font-weight: 600;
  margin-bottom: 1rem;
}
.footer__container--email {
  margin-top: 1rem;
}
.footer__logo {
  margin: 5rem 0 1rem 1rem;
}
.footer__copy {
  margin: 1rem;
  padding-bottom: 1rem;
}

@media (min-width: 768px) {
  .footer__container--box {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .footer__logo {
    position: relative;
    bottom: 19rem;
    left: 42rem;
  }
  .footer__copy {
    position: relative;
    bottom: 4rem;
  }
}
.about {
  padding-left: 1rem;
  padding-right: 1rem;
}
.about__heading {
  margin-top: 2rem;
  padding-bottom: 1rem;
}
.about__container {
  font-size: 0.875rem;
  line-height: 1.375rem;
}
.about__container--img {
  width: 100%;
}
.about__container--paragraph {
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 700;
  padding-top: 1rem;
}
.about__container-titele {
  padding-top: 1.5rem;
  font-weight: 600;
}
.about__container--articale {
  padding-top: 1rem;
  font-weight: 400;
}

@media (min-width: 768px) {
  .about__box {
    margin-left: 10rem;
    margin-right: 10rem;
  }
  .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
  }
}
.container--img img {
  padding: 0.5rem;
  width: 100%;
}

.gallery {
  padding: 0 1rem;
  background-color: #e1e1e1;
}
.gallery-heading {
  padding: 2rem 0 0 1.5rem;
}
.gallery-heading {
  font-size: 1.5rem;
  line-height: 2rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
}
@media (min-width: 768px) {
  .gallery__container--item {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-bottom: 1rem;
    padding-right: 1rem;
    padding-left: 1rem;
  }
}/*# sourceMappingURL=bio.css.map */